@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');
body{
    font-family:sans-serif,"Fira Sans";
    text-align:center;
    font-size:2rem;
    color:#444;
    background-color:white;
}

button{
    border-radius:25px;
    font-size:3rem;
    width:15%;
    height:4rem;
    border:none;
    background-color:lightblue;
    color:#444;
}









#name{
    width:10%;
    height:5rem;
}